@import "normalize.css";
@import "mixins";
@import "variables";
@import "resets";

// App
.app {
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;

  // Header / Top Nav
  header {
    @include flex_layout();
    @include flex_items();
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: $header-background;
    color: $header-color;
    p {
      padding: 0 10px;
      font-size: 1.3em;
    }
    a {
      padding: 0 10px 0 0;
      color: $blue;
      text-decoration: none;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    padding: $header-height+20px 20px $footer-height+20px;
  }

  // Footer
  footer {
    @include flex_layout();
    @include flex_items($margin: auto 10px);
    @extend small;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    background: $footer-background;
    color: $footer-color;
    border-top: $border;
    a {
      color: $orange;
      vertical-align: top;
      text-decoration: none;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: $shade9;
      }
    }
  }

  .flex {
    @include flex_layout();
    @include flex_items($margin: auto 10px);
  }

  .spacer {
    flex-grow: 2;
  }

  .search {
    padding: 0 10px;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
}