.spacer {
  flex-grow: 2;
}

.search {
  padding: 0 10px;
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}

.contest {
  @include flex_layout();
  @include flex_items($margin: 0 10px);
}

.left_rail {
  width: 300px;
  border-right: $border;
}

// Surfers Sort
.sort {
  @include flex_layout();
  @include flex_items($margin: auto 10px);
  border-radius: 30px;
  background: $shade9;
  li {
    cursor: pointer
  }
  li + li {
    border-left: $border;
  }
}

.selected {
  background: $shade3;
  color: $shade9;
}

// Surfer List
.surfers {
  li {
    padding: 20px;
  }
  li + li {
    border-top: $border;
  }
}

// Surfer Info
.item {
  @include flex_layout();
  @include flex_items($margin: auto 5px);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5) 60%, $aqua);
}

.image {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: $border 2px;
  background: $shade11;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.info {}

.title {
  h1 {
    font-size: 1.2em;
    color: $shade3;
  }
  p {
    font-size: 0.857em;
    color: $shade5;
  }
  button {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background: $orange;
    color: $shade11;
    outline: none;
    border: $border;
    font-size: 0.857em;
    &:disabled {
      opacity: 0.3;
    }
  }
}